In [43]:
import pandas as pd

In [51]:
data=pd.read_csv("../data/data1.csv")
df=data[["Name ","Roll","310241 TOC","310242 DBMS","310243 SEPM","310244 ISEE","310245 CN","Theory Attendance %"]]

In [52]:
df.head()

,Name,Roll,310241 TOC,310242 DBMS,310243 SEPM,310244 ISEE,310245 CN,Theory Attendance %
0,NaN,NaN,12,20,13,3,10,58.00
1,ADSUL SURAJ NAVNATH,3101001.0,1,2,2,1,1,12.07
2,ANAND PATIDAR,3101002.0,1,5,4,0,1,18.97
3,ANIKET KISAN CHAVAN,3101003.0,1,5,0,0,0,10.34
4,ANIKET RAJENDRA THORAT,3101004.0,0,18,13,2,5,65.52

In [53]:
df.shape

(76, 8)

In [54]:
roll=[]
for i in range(1,77):
    roll.append(i)

df["roll_no"]=roll

C:\Users\shubham\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [55]:
df.head()

,Name,Roll,310241 TOC,310242 DBMS,310243 SEPM,310244 ISEE,310245 CN,Theory Attendance %,roll_no
0,NaN,NaN,12,20,13,3,10,58.00,1
1,ADSUL SURAJ NAVNATH,3101001.0,1,2,2,1,1,12.07,2
2,ANAND PATIDAR,3101002.0,1,5,4,0,1,18.97,3
3,ANIKET KISAN CHAVAN,3101003.0,1,5,0,0,0,10.34,4
4,ANIKET RAJENDRA THORAT,3101004.0,0,18,13,2,5,65.52,5

In [65]:
data=df.loc[df["roll_no"]==4]

AttributeError: 'DataFrame' object has no attribute 'to_list'

In [59]:
result={
    "Name":data["Name "],
    "RollNo":data["Roll"],
    "TOC":data["310241 TOC"],
    "DBMS":data["310242 DBMS"],
    "SEPM":data["310243 SEPM"],
    "ISEE":data["310244 ISEE"],
    "Attendance":data["Theory Attendance %"]
}

In [60]:
result

{'Name': 3    ANIKET KISAN CHAVAN
 Name: Name , dtype: object,
 'RollNo': 3    3101003.0
 Name: Roll, dtype: float64,
 'TOC': 3    1
 Name: 310241 TOC, dtype: int64,
 'DBMS': 3    5
 Name: 310242 DBMS, dtype: int64,
 'SEPM': 3    0
 Name: 310243 SEPM, dtype: int64,
 'ISEE': 3    0
 Name: 310244 ISEE, dtype: int64,
 'Attendance': 3    10.34
 Name: Theory Attendance %, dtype: float64}

In [77]:
a=data["310241 TOC"].values[0]

In [79]:
a[0]

1